/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style pour la barre de navigation */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

/* Style pour les liens de la barre de navigation */
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Style pour les boutons */


/* Style pour les boutons primaires */
.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 3px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-radius: %20;
}

.nav-btn:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000;
}

.nav-btn:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.logout {
    -fx-border-width: 20px; /* Adjust the width and height as needed */
    -fx-border-height: 20px;
    -fx-border-radius: 50%; /* Makes the button circular */
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.img-logout:hover {
    -fx-background-color: #000;
}

.yellow-bg {
    -fx-background-color: #fbf2b7;
}
.white-bg {
    -fx-background-color: #fff;
}
.orange-bg{
    -fx-background-color: #ff8c00;
}
.radius {
    -fx-background-radius: 18px;
}
.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5),5 ,0,0,0);
}
.header {
    -fx-background-color: linear-gradient(to bottom right, #0698c53, #246861);
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}
.transparent {
    -fx-background-color: transparent;
}




/* Style pour les cartes */
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

/* Style pour les titres de section */
.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.table-view{
    -fx-background-color: transparent;
    -fx-padding:0;
    -fx-border-color: linear-gradient(to bottom right, #ff8c00, #fbf2b7);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}
.table-view .column-header{
    -fx-background-color: #fbf2b7 ;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 5px 5px 0 0;
}
.table-view .column-header .filter{
    -fx-background-color: #ff8c00;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #ff8c00;
}
.table-row-cell:selected {
    -fx-background-color: #fbf2b7;
    -fx-text-fill: #ff8c00;
}

.table-cell {
    -fx-alignment: center; /* Alignement du contenu des cellules au centre */
}
.btn{
    -fx-background-color: transparent ;
    -fx-border-color: linear-gradient(to bottom right, #ff8c00, rgba(246, 173, 110, 0.78));
    -fx-border-width: 3px;
    -fx-cursor: hand;
    -fx-text-fill: #ff8c00;
    -fx-font-size: 14px;
}
.btn:hover {
    -fx-background-color: #ff8c00;
    -fx-text-fill: #fff;
}
